<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <robot_param>robot_description</robot_param>
    </plugin>
  </gazebo>


    <gazebo reference="right_wheel_link">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="left_wheel_link">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="caster_wheel_link">
        <material>Gazebo/Green</material>
        <!-- <mu1 value="0.1" /> -->
        <!-- <mu2 value="0.1" /> -->
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_diff_drive" filename="libgazebo_ros_diff_drive.so">
            <!-- Update rate in Hz -->
            <update_rate>50</update_rate>

            <!-- wheels -->
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>

            <!-- kinematics -->
            <wheel_separation>0.45</wheel_separation> <!-- Distance between the center mass of wheels -->
            <wheel_diameter>0.2</wheel_diameter>

            <!-- output -->
            <publish_odom>true</publish_odom> <!-- Publish odometry information (Compute the distance
            the robot has moved) -->
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>
    </gazebo>
</robot>